.events-view {
  background-image: url('../../act-pattern.png');
  background-repeat: repeat;
  background-size: auto;
  background-position: center center;
  min-height: 100vh;
}


i {
  color: #9e9e9e !important;
}

.baby-container {
  padding-top: 8rem;
}